const Button = () => {
  const [color, setColor] = useState("Tomato");

  return (
    <button>
      <Heading>{color}</Heading>
      <button onClick={() => setColor(color === "Tomato" ? "DodgerBlue" : "Tomato")}>
        <span>Click me</span>
    </button>
  );
};