const Button = () => {
  const [color, setColor] = useState("Tomato");

  return (
    <>
      <Heading>{color}</Heading>
      <button
        style={{ background: color }}
        onClick={() => setColor(color === "Tomato" ? "DodgerBlue" : "Tomato")}
      >
        <span>Click me</span>
      </button>
    </>
  );
};
